
@import url('login_v1.min.css');

body {
    font: 80%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}

/*Modal*/
.modal-dialog {
    position: absolute !important;
    top: 45% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0px !important;
}

#logo {
    height: 140px;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 50%;
    margin-bottom:30px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


div.main {
    background: #1276d0; /* Navegadores Viejos */
    background: -moz-radial-gradient(center, ellipse cover, #1276d0 50%, #2a428c 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#1276d0), color-stop(100%,#2a428c)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #1276d0 50%,#2a428c 100%); /* Chrome10+,Safari5.1+ */
    background: radial-gradient(ellipse at center, #1276d0 50%,#2a428c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1276d0', endColorstr='#2a428c',GradientType=1 ); /* IE6-9 retroceso en gradiente horizontal */
    height: calc(100vh);
    width: 100%;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
    box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0px;
}

a {
    color: #eee;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

.clearfix {
    *zoom: 1;
    content: ' ';
    display: table;
}

:after {
    clear: both;
}

.containerLogin {
    left: 50%;
    position: fixed;
    top: 50%;
    margin: auto;
    padding: 10px;
    transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

/* ---------- LOGIN ---------- */

#login form {
    width: 270px;
}

#login, .logo {
    display: inline-block;
    width: 40%;
    
}

#login {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.logo {
    color: #203576;
    font-size: 60px;
    line-height: 50px;
}

/*Iconos del Login*/
#login form span.fa {
    border-right: 1px solid black;
    background-color: #fff;
    border-radius: 3px 0px 0px 3px;
    color: #000;
    display: block;
    float: left;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    width: 50px;
}

/*Textbox del Login*/
#login form input {
    height: 40px;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

#login form input[type="text"], input[type="password"] {
    background-color: #fff;
    border-radius: 0px 3px 3px 0px;
    color: #000;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 200px;
}

/*Botón de Logín*/
#login form input[type="submit"] {
    border-radius: 15px;
    border: 1px solid orange;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #09357F;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    height: 42px;
    width: 135px;
    margin-left: 60px;
}
/*Hover del botón*/
    #login form input[type="submit"]:hover {
        background-color: #032389;
    }

#login > p {
    text-align: center;
}

    #login > p span {
        padding-left: 5px;
    }

.middle {
    display: flex;
    width: 600px;
    height: 300px;
}

#divCentral {
    text-align:center;
    color:white;

}

.tooltip {
    width: 200px !important;
}

/*Centrar Login fieldset*/
fieldset.clearfix {
    padding: .35em .625em .75em !important;
}

