div.col-xs-2 {
    min-width: 160px;
}

div.col-xs-3 {
    min-width: 500px;
}

/*Etiquetas*/
hr {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.ui-datepicher-calendar {
    display: none
}

.form-group {
    padding-top: 10px;
}

.datepicker th {
    font-size: 14px !important;
}

.datepicker tr {
    font-size: 14px !important;
}

